* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 11vh;
  background-color: #e8e8e8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}


/* Style the logo */
.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  margin-left: 15px;
    
}

.nav-links {
  display: flex;
  margin-right: 20px;
  text-transform: uppercase; 
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
   
}

.nav-links li {
  list-style: none;
  margin: 0;
}

/* Style the main nav elements */
.nav-links a{
  color: rgb(0, 0, 0);
  display: block;
  padding: 8px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/* Links on mouse-over */
.logo:hover,
.navbar-link:hover {
  color: rgba(187, 46, 46, 0.2)
}

/* Hides toggle menu for desktop view */
.navbar-toggle {
  display: none;
}

/*Make navigaition bar responsive to moblie view*/
@media screen and (max-width: 768px) {

  .navbar {
    padding-left: 10px;
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    list-style: none;
    display: none;
    width: 100%;
  }

  .logo,
  .navbar-link {
    text-decoration: none;
  }

  .nav-links li {
    margin: 15px auto;
    text-align: center;
  }

  .logo a {
    color: rgba(3, 3, 3, 0.8);
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
  }

  .navbar-toggle {
    position: absolute;
    display: block;
    top: auto;
    right: 20px;
    cursor: pointer;
    color: rgba(3, 3, 3, 0.8);
    font-size: 24px;
  }

  .active {
    display: block;
  }
}

.video-container {
  height: 700px;
  width: 100%;
  
}

.video-insert {
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -100;
  object-fit: cover;
  overflow: hidden;
}

.video-container h2 {
  color: white;
  font-size: 50px;
  align-items: center;
  text-align: end;
  padding-top: 500px;
}

h1 {
  margin: 30px;
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  line-height: 1.5;
  width: 95%;
  
}

h2 {
  margin: 25px;
  text-align: left;
}

#content {
  margin: auto;
  max-width: 800px;
  align-content: center;
}

hr {
  align-content: center;
  border-top: 1px;
  width: 90%;
  padding-left: 10px;
  color: #dcdcdc;
  margin: 25px;
}

/*Style for map of places I have been to*/
.personal-map {
  margin: 25px 80px;
  align-content: center;
  width: -webkit-fill-available;
}

#greeting-container {
  margin-top: 20px;
}

/*Style for the footer section*/
.main-footer {
  width: 100%;
  height: auto;
  margin: auto;
  background: #e8e8e8;
  padding: 20px 0px;
}

/*Ensure the social media icons are well arranged*/
.footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: space-between;
}

/*Design the horizontal layout of the social media icons*/
.footer-social-icons ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px, 40px;
  border-radius: 100%;
  background: #add8e6;
}

.footer-social-icons ul li a {
  font-size: 20px;
  color: #484848;
  display: block;
}

.footer-social-icons ul li a i {
  line-height: 40px;
}

/*Enable hovering over icons*/
.footer-social-icons ul li:hover {
  background: cornsilk;
}

.main-footer h4 {
  padding: 20px;
  text-align: center;
  font: bold 20px/40px;
}
