* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 11vh;
  background-color: #e8e8e8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 50px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s;
  z-index: 99;
  overflow: hidden;
}


/* Style the logo */
#logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 22px;
  margin-left: 15px;
  transition: 0.4s;
    
}

.nav-links {
  display: flex;
  margin-right: 20px;
  text-transform: uppercase; 
  flex-direction: row;
  justify-content: flex-end;
  width: 60%; 
}

.nav-links li {
  list-style: none;
  margin: 0;
}

/* Style the main nav elements */
.nav-links a{
  color: rgb(0, 0, 0);
  display: block;
  padding: 8px;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  
}

/* Links on mouse-over */
#logo:hover,
.navbar-link:hover {
  color: rgba(187, 46, 46, 0.2)
}

/* Hides toggle menu for desktop view */
.navbar-toggle {
  display: none;
}

/*Make navigaition bar responsive to moblie view*/
@media screen and (max-width: 768px) {

  #navbar {
    padding: 40px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    list-style: none;
    display: none;
    width: 100%;
  }

  #logo,
  .navbar-link {
    text-decoration: none;
    padding-bottom: 5px;
  }

  .nav-links li {
    margin: 15px auto;
    text-align: center;
  }

  #logo a {
    color: rgba(3, 3, 3, 0.8);
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
  }

  .navbar-toggle {
    position: absolute;
    display: block;
    top: auto;
    right: 20px;
    cursor: pointer;
    color: rgba(3, 3, 3, 0.8);
    font-size: 24px;
  }

  .active {
    display: block;
  }

}

/* Style for video on landing page */
.video-container {
  height: 90vh;
  width: 100%;
}

.video-insert {
  min-width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -100;
  object-fit: cover;
  overflow: hidden;
}

.video-container h2 {
  color: white;
  font-size: 40px;
  align-items: center;
  text-align: end;
  padding-top: 60vh;
}

@media screen and (max-width: 768px) {
  .video-container h2 {
    font-size: 30px;
    padding-top: 60vh;
    padding-bottom: 10px;
  }
}

/* Style for the scroll down to explore button */
section {
  position: relative;
  width: 100%;
  top: 7vh;
  height: 120px;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}
section h3 {
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 32px/1;
  text-align: center;
  white-space: nowrap;
}

#scrollsection a {
  padding-top: 80px;
}
#scrollsection a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scrollsection a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#scrollsection a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#scrollsection a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


h1 {
  margin: 30px;
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  line-height: 1.5;
  width: 95%;
  
}

h2 {
  margin: 25px;
  text-align: left;
}

/* Style for page content */
#content {
  margin: auto;
  padding-top: 120px;
  padding-bottom: 20px;
  max-width: 800px;
  align-content: center;
}

hr {
  align-content: center;
  border-top: 1px;
  width: 90%;
  padding-left: 10px;
  color: #dcdcdc;
  margin: 25px;
}

/*Style for map of places I have been to*/
.personal-map {
  margin: 25px 80px;
  align-content: center;
  width: -webkit-fill-available;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#greeting-container {
  margin-top: 20px;
}

#contact-content {
  align-content: center;
  text-align: center;
}

#personal-image {
  position: relative;
  border-radius: 50%;
}

/* Style for contact page button on home page */
#contact-button {
  position: relative; 
  bottom: 20px; /* Place the button at the bottom of the page */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  margin: 30px 30px 0px 30px;
  align-content: center;
}

#contact-button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*Style for the footer section*/
.main-footer {
  width: 100%;
  height: auto;
  margin: auto;
  background: #e8e8e8;
  padding: 20px 0px;
  position: relative;
}

/*Ensure the social media icons are well arranged*/
.footer-social-icons {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: space-between;
}

/*Design the horizontal layout of the social media icons*/
.footer-social-icons ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px, 40px;
  border-radius: 100%;
  background: #add8e6;
}

.footer-social-icons ul li a {
  font-size: 20px;
  color: #484848;
  display: block;
}

.footer-social-icons ul li a i {
  line-height: 40px;
}

/*Enable hovering over icons*/
.footer-social-icons ul li:hover {
  background: cornsilk;
}

.main-footer h4 {
  padding: 20px;
  text-align: center;
  font: bold 20px/40px;
}

/*Style for the resume*/
#resume-div {
  width: 80%;
  height: 900px; 
  align-content: center;
  margin: auto;
  padding: 40px 25px;
}

#resume-frame {
  width: 100%;
  height: 100%;
  border: 20px solid lightslategrey;
}

/*Last date update of resume*/
.resume-update {
  width: 80%;
  margin: auto;
  align-content: center;
}

/*Style for the contact form */
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.container {
  margin: auto;
  height: 1100px;
  background-color: #fcda2e;
}

form {
  overflow: hidden;
  padding: 5px;
  width: 700px; 
  margin: auto;
  align-content: center;
}

.contact-form {
  margin-top: 110px;
  padding: 160px 160px;
  background-color: #fcda2e !important;
  height: 1100px;
  overflow: auto;
}	
.contact-form h1 {
  font-size: 42px;
  font-family: 'Pacifico', sans-serif;
  margin: 0 0 50px;
  text-align: center;
}
.contact-form .form-group {
  margin-bottom: 20px;
  padding: 0px 20px;
}
.contact-form .form-control, .contact-form {
  min-height: 38px;
  border-radius: 2px;
  width: 100%;
  display: block;
}

.btn {
  min-height: 38px;
  border-radius: 2px;
  align-self: center;
}
.button-center {
  text-align-last: center;
}
.contact-form .form-control {
	border-color: #e2c705;
}
.contact-form .form-control:focus {
	border-color: #d8b012;
	box-shadow: 0 0 8px #dcae10;
}
.contact-form .btn-primary {
  width: 50%;
  color: #fcda2e;
  background: #000;
  margin-top: 20px;
  border: none;
}
.contact-form .btn-primary:hover {
  color: #fff; 
}
.contact-form .btn-primary i {
  margin-right: 5px;
}

.contact-form textarea {
  height: 14vh;
  resize: vertical;
}
.bs-example {
  margin: 20px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-50, input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
  .contact-form {
    padding: 50px 10px;
  }
  form {
    overflow: hidden;
    padding: 5px;
    width: 350px; 
    margin: auto;
    align-content: center;
  }

}

/* Style for back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Style for experience and sport pages */
.main-content {
  background-color:  #add8e6;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 90vh;
  margin: auto;
  padding: 100px;
  top: 100px;
  position: relative;
}

.main-content h2 {
  text-align: center;
  font: bold 40px/30px Arial, sans-serif;

}

.main-content h4 {
  text-align: center;
  font: italic 30px/50px Georgia, serif;
}